.container{
  background: #F4F4F3;
  padding: 120px 0;
}
.title{
  width: 95%;
  max-width: 300px;
  margin: 0px auto 30px auto;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: black 2px solid;
  font-size: 2.2rem;
  font-style: italic;
}
.subTitle{
  width: 95%;
  max-width: 300px;
  margin: 60px auto;
  text-align: center;
  border-bottom: none;
  font-size: 1.2rem;
}