@import './../../utils/variables.scss';


.container{
  background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3)), url('./../../img/apartment-architecture-art-276724.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: $body-height;

    h1{
      background: rgba(70,70,70,.4);
      border-radius: 5px;
      position: relative;
      font-size: 2rem;
      font-weight: 300;
      padding-left: 10px;
      transform: translateY(-50%);
      top: 50%;
      margin: 0 auto;
      color: white;
      max-width: 500px;
      text-align: center;
      animation: slideIn 1s 1 normal ease-out;
      width: 100%;
    }

    @keyframes slideIn {
      0% {font-size: 1.9rem;}
      100% {font-size: 2rem;}
    }

    @media screen and (min-width: 700px){
      h1{ 
      position: relative;
      top: 40%;
      padding: 25px;
      font-size: 3.5rem;
     }

     @keyframes slideIn {
      0% {font-size: 3.3rem;}
      100% {font-size: 3.5rem;}
     }
    }

    
}

  
  

  

