@import '../../utils/variables.scss';

.container {
  position: relative;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}
.imgSlide {
  width: 100%;
  margin: 0 auto;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  > img {
    width: 45px;
    height: 45px;
  }
}

.arrowLeft {
  left: 5px;
  &:active {
    left: 3px;
  }
}

.arrowRight {
  right: 5px;
  &:active {
    right: 3px;
  }
}

.link{
  // position: absolute;
  width: 50px;
  // z-index: 1;
  // bottom: 15px;
  // left: 50%;
  // transform: translateX(-50%);
  margin: 10px auto;
  text-decoration: none;

  a{
  color: $charcoal;
  font-size: 1.3rem;
    &:hover{
      text-decoration: underline;
      // color: white;
    }
  }
}
