@import '../../utils/variables.scss';

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.imgSlide {
  width: 100%;
  margin: 0 auto;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  > img {
    width: 45px;
    height: 45px;
  }
}

.arrowLeft {
  left: 5px;
  &:active {
    left: 3px;
  }
}

.arrowRight {
  right: 5px;
  &:active {
    right: 3px;
  }
}

.link{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px 0;
  background: rgba(70,70,70, .7);
  text-align: center;
  text-decoration: none;

  a{
  color: white;
  font-weight: 100;
  font-size: .75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
    &:hover{
      text-decoration: underline;
    }
  }
  @media screen and(min-width: 700px) {
    a{
      color: white;
      font-weight: 100;
      font-size: 1rem;
        &:hover{
          text-decoration: underline;
        }
      }
  }
}
.imageList{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  li{
    display: inline-block;
    margin-right: 5px;
  }
  div{
    padding: 5px;
    border: 2px solid $charcoal;
  }
}
